* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 50px;
    margin-inline: 50px;
    grid-template-areas:
        "title title title title"
        "for for for for"
        "forr forr forr forr"
        "while while while while"
        "dowhile dowhile dowhile dowhile";
}

.title {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: title;
    background-color: rgb(0, 75, 75);
    height: 100px;
    margin-inline: -50px;
}

.text {
    color: white;
}

div .for p {
    justify-self: center;
    margin-top: 40px;
}

body {
    font-family: Arial, sans-serif;
}

.for {
    grid-area: for;
    justify-items: center;
}

.while {
    grid-area: while;
    justify-items: center;
    display: grid;
}

.dowhile {
    grid-area: dowhile;
    justify-items: center;
    display: grid;
}

.forr {
    grid-area: forr;
    display: grid;
    justify-items: center;
}

.space {
    margin-bottom: 50px;
}